ul {
  list-style: None;
}

ul.course-tile > li {
  display: inline-block;
  width: 20%;
}

ul.top-bar > li {
  display: inline-block;
  width: 20%;
  background-color: aquamarine;
}

/* div.catalog {
  display: grid;
} */

/* div.top-bar {
  display: inline-block;
} */
