@import 'fonts';

* {
  box-sizing: border-box;
}

body {
  background: #ececec;
}

.home {
  display: block;
  width: 520px;
  height: auto;
  margin: 50px auto;
  background: #fff;
  border-radius: 5px;
  padding: 15px 50px;
}
