/* Containers */
.container-helform {
  display: flex;
  width: 100%;
}
.hf-width {
  width: 35%;
  white-space: nowrap;
}

/* Form */
.course-disp {
  float: left;
  width: 50%;
}

.form-whole {
  width: 100%;
}

.form-group {
  float: left;
  width: 59.5%;
  padding-top: 1.25%;
  padding-left: 0.5%;
}

.course-inp {
  width: 74%;
}

.branch-inp {
  padding-top: 5px;
}

.wide-menu-row {
  height: 30px;
  text-align: center;
  color: gray;
}

.label-mod {
  padding-left: 2%;
  width: 10%;
  padding-top: 3vh;
  height: 4vh;
}

.left-width {
  width: 55%;
}

/* Buttons */
.btn-mod {
  width: 10%;
  height: 5vh;
  padding-left: 1.5%;
}

.btn-hf {
  cursor: pointer;
}
.btn-big {
  width: 25%;
  height: 10%;
}

/* Select component styling */
.select-container {
  background-color: #fecb6e;
}

/* Radio group */
.radio-grp {
  padding-top: 2vh;
  height: 4vh;
}
.submit-btn
{
  position: absolute;
  top: 70%;
  right: 10%;
}
/* Text */
.text-black {
  color: black;
}