/* Containers */
.container-helform {
  display: flex;
  width: 100%;
}
.half-width {
  width: 50%;
}

/* Form */
.course-disp {
  float: right;
  width: 40%;
}

.form-whole {
  width: 100%;
}

.form-group {
  float: left;
  width: 59.5%;
  padding-top: 1.25%;
  padding-left: 0.5%;
}

.course-inp {
  width: 74%;
}

/* Buttons */
.btn-mod {
  width: 10%;
  height: 5vh;
  padding-left: 1.5%;
}

.btn-hf {
  cursor: pointer;
}
.btn-big {
  width: 50%;
  height: 5vh;
}

/* Select component styling */
.select-container {
  background-color: #fecb6e;
}
