/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --landing-text-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: #333;
}

.main {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

buttons {
  width: 100%;
  height: 100%;
  background-color: green;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
}

/* Text Styles*/
.text-x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.text-large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.text-landing {
  color: var(--landing-text-color);
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.15rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-landing {
  display: inline-block;
  background-color: #6699ff;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  font: 2.5rem "Fira Sans", sans-serif;
  padding: 20px;
  height: 100px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1px;
}

.btn-landing span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-landing span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-landing:hover span {
  padding-right: 25px;
}

.btn-landing:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-left {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.btn-right {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Landing Page */
.landing {
  position: relative;
  height: 100vh;
  background: url("../images/landingbackground.jpg") no-repeat center center/cover;
}

body {
  display: flex;
  flex-direction: column;
}

section {
  flex: 1;
  min-height: 0;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}