:root {
    --row-gap: 0.5vh;
    --header-column-width: 10%;
    --reg-column-width: 15%;
  }

body
{
    background-color: #d2dae2;
}

.gridElement
{
    display: grid;
    grid-template-columns: 7% 15% 15% 15% 15% 15% 15%;
    row-gap: 0.75vh;
    column-gap:0.5%;
    background-color: #0984e3;
    padding: 3px;
    border-radius: 5px;
    grid-template-rows: 8.08vh 8.08vh 8.08vh 8.08vh 8.08vh 8.08vh 8.08vh 8.08vh 8.08vh 8.08vh 8.08vh ;
    transition-duration: 0.4s;
}

.gridElement > div
{
    background-color: #313131;
    position: relative;
    text-align: center;
    padding: 10px 10px;
    font-size: 67%;
    border-radius: 3px;
    color: white;
    box-shadow: 2px 1.5px 2px 0.5px rgba(1, 4, 7, 0.5);
}



.gridItem
{
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridItem:hover
{
    /*background-color: #aaaaaa;*/
    box-shadow: 2px 2px 5px 5px rgba(1, 4, 7, 0.76);
    transition-duration: 0.4s;
    font-size: 75%;
    /*color: black;*/
}


.courseElement
{
    display: grid;
    grid-template-columns: 5% 60% 5% 5% 10%;
    column-gap: 0.5vh;
    /* column-gap:0.5%; */
    /* background-color: #fed330; */
    /* padding: 7px; */
    /* border-radius: 5px; */
    grid-template-rows: 5vh;
}
.courseElement:hover
{
    display: grid;
    grid-template-columns: 5% 60% 5% 5% 10%;
    column-gap: 0.5vh;
    /* column-gap:0.5%; */
    /* background-color: #fed330; */
    /* padding: 7px; */
    /* border-radius: 5px; */
    grid-template-rows: 5vh;
    background-color: #ffa801;
    cursor: pointer;
}
.examElement
{
    display: grid;
    grid-template-columns: 10% 60% 15% 15%;
    column-gap: 0.5vh;
    /* column-gap:0.5%; */
    /* background-color: #fed330; */
    /* padding: 7px; */
    /* border-radius: 5px; */
    grid-template-rows: 5vh;
}

.courseItem
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.courseWindow
{
    margin:5px;
    padding:5px;
    background-color: #f7d794;
    height: 45vh;
    overflow: auto;
    font-size: medium;
    text-align:justify;
}
.courseSearch
{
    margin:5px;
    padding:5px;
    background-color: rgba(116, 185, 255,0.5);
    height: 65vh;
    overflow: auto;
    text-align:justify;
}

.courseSearch :hover{
    cursor: pointer;
    background-color: #0984e3;
}
.input-field ::placeholder{
    color: black;
    
}